.companion-catalog {
  .colors(@gray, #767676);
  .text(15px, 18px, normal);

  &__list {
    .list();
  }

  &__button {
    .text(17px, 30px, bold);
    color: #1d2e5b;
    text-transform: uppercase;
  }
}

.catalog-list {
  &__card {
    background-color: #ffffff;
    margin-bottom: 10px;
    padding: 18px;
  }

  &__name {
    .text(20px, 20px, bold);
    color: #1d2e5b;
  }

  &__value {
    .text(14px, 21px, bold);
    color: #161c35;
  }

  &__button {
    .text(17px, 30px, bold);
    .colors(@yellow, #161c35);
  }

  &__countries {
    .list();
  }

  &__transport {
    .list();
  }

  &__country {
    .text(15px, 18px, medium);
    color: #1d2e5b;
    text-transform: uppercase;
  }

  &__level-value {
    .text(24px, 18px, bold);
    color: #1d2e5b;
  }
}
