.inner-page .main-nav {
  top: 60px;
}

.main-nav {
  .colors(#ffffff, @blue);
  text-transform: uppercase;
  text-align: center;
  position: absolute;
  top: 68px;
  left: 0;
  width: 100%;
  z-index: 20;
}

.main-nav__wrapper {
  padding: 45px 25px 40px 25px;
  width: 270px;
  margin: 0 auto;
}


.site-list {
  .text(30px, 36px, 500);
  .list();
  margin-bottom: 50px;
}

.user-list {
  .list();
  margin-bottom: 40px;
}

.user-list__item {
  .text(16px, 22px, bold);

  &--btn {
    .text(17px, 30px, bold);
    background-color: @yellow;
    margin-bottom: 50px;
    padding: 10px 0 10px 0;
    border-radius: 25px;
  }
}

.user-list__link {
  position: relative;
  display: block;
  background-color: #121936;
  width: 45px;
  height: 45px;
  border-radius: 50%;

  &--phone {
    background: url("../img/icon-contacts-phone.svg") no-repeat 13px 14px #121936;
    background-size: 18px 18px;
  }

  &--mail {
    background: url("../img/icon-contacts-mail.svg") no-repeat 13px 16px #121936;
    background-size: 18px 13px;
  }
}

.user-list__item p {
  position: absolute;
  top: 13px;
  left: 65px;
  width: max-content;
  margin: 0;
}

.social-list {
  .list();
  margin: 0 auto;
  width: 106px;
  display: flex;
  justify-content: space-between;
}

.social-list__icon {
  opacity: 0.2;
}


@media (min-width: @tablet-width) {
  .inner-page .main-nav {
    top: 128px;
  }

  .main-nav {
    top: 128px;
    text-align: left;
  }

  .main-nav__wrapper {
    padding: 40px 100px 90px 100px;
    width: 568px;
  }

  .site-list {
    .text(60px, 71px, 500);
    margin-bottom: 135px;
  }

  .user-list {
    margin-bottom: 130px;
  }

  .user-list__item {
    .text(28px, 28px, bold);
    text-align: center;

    &--btn {
      display: none;
    }
  }

  .user-list__item p {
    top: 23px;
    left: 100px;
  }

  .user-list__link {
    width: 70px;
    height: 70px;

    &--phone {
      background-position: 21px 22px;
      background-size: 28px 28px;
    }

    &--mail {
      background-position: 21px 24px;
      background-size: 28px 22px;
    }
  }

  .social-list {
    margin-left: 30px;
    width: 140px;
    align-items: center;
  }

  .social-list__icon {
    &--fb {
      width: 15px;
      height: 30px;
    }

    &--vk {
      width: 30px;
      height: 16px;
    }

    &--insta {
      width: 24px;
      height: 24px;
    }
  }
}

@media (min-width: @desktop-width) {
  .main-nav {
    position: static;
    display: block;
    width: 975px;
    .colors(#161c36, #ffffff);
  }

  .main-nav__list {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 0;
  }

  .main-nav__wrapper {
    display: flex;
    justify-content: space-between;
    padding: 0;
    width: auto;
  }


  .site-list {
    .text(20px, 30px, 500);
    padding-top: 12px;
  }

  .site-list__item {
    margin-right: 24px;
    overflow: hidden;

    &:hover {
      color: @yellow;
    }

    &:active {
      color: #5c543c;
    }
  }

  .site-list__item span {
    position: relative;
    display: inline-block;
    padding-right: 10px;
    transition: 0.2s ease-out;

    &:hover {
      transform: translateY(-30px);
    }

    &::before {
      position: absolute;
      content: attr(data-hover);
      top: 100%;
      font-weight: bold;
    }
  }

  .social-list {
    display: none;
  }

  .user-list {
    flex-direction: row-reverse;
  }

  .user-list p {
    display: none;
  }

  .user-list__item {
    &--btn {
      display: block;
      margin-bottom: 0;
      .colors(@yellow, @blue);
      .text(20px, 30px, bold);
      width: 190px;
      text-align: center;

      &:hover {
        background-color: #ffbd30;
      }

      &:focus {
        background-color: #ffbd30;
      }

      &:active {
        color: #bb923d;
      }
    }

    &:nth-child(2) {
      order: 1;
    }
  }

  .user-list__link {
    position: relative;
    width: 50px;
    height: 50px;
    margin-right: 0;
    background-color: @orange;

    &::before {
      display: none;
      position: absolute;
      content: "";
      width: 24px;
      opacity: 0.6;
      left: 14px;
      border-radius: 50%;
    }

    &--phone {
      order: 1;
      background: url("../img/topmenu-phone.svg") no-repeat 16px 14px @orange;
      background-size: 20px 20px;

      &::before {
        height: 24px;
        top: 12px;
        background-color: #f26926;
      }

      &:hover,
      :focus {
        background-color: #f26926;
      }
    }

    &--mail {
      background: url("../img/topmenu-mail.svg") no-repeat 16px 17px #ffbd30;
      background-size: 20px 14px;

      &::before {
        height: 18px;
        top: 15px;
        background-color: @orange;
      }

      &:hover,
      :focus {
        background-color: @orange;
      }
    }

    &:active {
      &::before {
        display: block;
      }
    }
  }
}
