.map {
  .colors(@yellow, @blue);
  .text(16px, 22px, bold);
}

.map__contacts {
  position: relative;
  padding-bottom: 10px;

  &::before {
    position: absolute;
    content: "";
    top: 100%;
    left: 0;
    width: 100%;
    height: 25px;
    background-color: @yellow;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    z-index: 3;
  }
}

.map__location {
  position: relative;
  padding: 57px 25px 32px 87px;
  width: 208px;
  margin: 0 auto;
  text-transform: uppercase;

  &::before {
    position: absolute;
    content: "";
    width: 45px;
    height: 45px;
    top: 55px;
    left: 25px;
    border-radius: 50%;
    background: url("../img/contacts-location.svg") no-repeat 16px 13px #121936;
    background-size: 14px 22px;
  }
}

.map__location span {
  width: 145px;
  margin-top: 2px;
}

.map__button {
  display: block;
  position: relative;
  width: 223px;
  margin: 0 auto;
  padding: 20px 20px 18px 21px;
  .text(18px, 18px, bold);
  color: #1d2e5b;
  background-color: transparent;
  border: 3px solid @blue;
  border-radius: 8px;

  &::before {
    content: "";
    position: absolute;
    top: 22px;
    right: 21px;
    width: 0;
    height: 0;
    border: 7px solid #1d2e5b;
    border-right: 0;
    border-bottom-color: transparent;
    border-top-color: transparent;
    border-left-width: 11px;
  }
}

.map__route {
  position: relative;
  min-height: 320px;
  overflow: hidden;
}

.map__iframe {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
}

.map__route-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 320px;
}

.map__route-image img {
  width: 100%;
  height: auto;
}

@media (min-width: @tablet-width) {
  .map {
    .text(28px, 28px, bold);
  }

  .map__contacts {
    padding-bottom: 30px;

    &::before {
      height: 55px;
      border-bottom-left-radius: 55px;
      border-bottom-right-radius: 55px;
    }
  }

  .map__location {
    padding: 120px 75px 63px 170px;
    width: 523px;

    &::before {
      width: 70px;
      height: 70px;
      left: 75px;
      top: 100px;
      background-size: 22px 32px;
      background-position: 23px 20px;
    }
  }

  .map__location span {
    width: auto;
    margin-top: 20px;
  }

  .map__button {
    width: 542px;
    padding: 25px 35px 25px 35px;
    .text(24px, 24px, bold);
    border-radius: 18px;

    &::before {
      top: 30px;
      right: 30px;
    }
  }

  .map__route {
    min-height: 565px;
  }

  .map__iframe {
    height: 565px;
  }

  .map__route-image {
    height: 565px;
  }

  .map__route-image img {
    height: auto;
    width: 100%;
  }
}

@media (min-width: @desktop-width) {
  .map__contacts {
    padding-bottom: 0;
    display: flex;
    justify-content: center;

    &::before {
      height: 60px;
      border-bottom-left-radius: 60px;
      border-bottom-right-radius: 60px;
      top: calc(100% - 1px);
    }
  }

  .map__location {
    padding: 145px 142px 0 270px;
    width: 433px;
    margin: 0;

    &::before {
      width: 90px;
      height: 90px;
      top: 115px;
      left: 148px;
      background-size: 28px 44px;
      background-position: 30px 25px;
    }
  }

  .map__location span {
    margin-top: 28px;
  }

  .map__button {
    width: 250px;
    height: 24px;
    margin: 120px 0 5px 0;

    &::before {
      top: 30px;
      right: 35px;
    }

    &:hover,
    :focus {
      background-color: @blue;
      color: #ffffff;

      &::before {
        border-left-color: #ffffff;
      }
    }

    &:active {
      color: #5e647c;

      &::before {
        border-left-color: #5e647c;
      }
    }
  }

  .map__route {
    min-height: 495px;
  }

  .map__iframe {
    height: 495px;
  }

  .map__route-image {
    height: 495px;
  }

  .map__route-image img {
    width: 100%;
    height: auto;
  }
}
