.route {
  .colors(#edeff6, #444444);
  padding: 25px;
  height: 935px;

  &__title {
    .text(24px, 24px, bold);
    color: @orange;
    margin: 25px;
  }

  &__descriptions {
    width: 190px;
    margin: 0 25px;
    margin-bottom: 65px;
    .text(16px, 22px, lighter);
  }

  &__list {
    .list();
  }

  &__button {
    .text(18px, 18px, bold);
    .colors(@yellow, #161c35);
  }
}

.countries-list {
  &__item {
    .colors(#ffffff, #c7c7c7);
    margin-bottom: 10px;
  }

  &__title {
    .text(21px, 21px, bold);
    color: #161c35;
    margin-top: 0;
  }

  &__description {
    .text(16px, 18px, medium);
  }

  &__visitors {
    .text(16px, 30px, medium);
  }
}

@media (min-width: @tablet-width) {
  .route {
    padding: 75px;

    &__title {
      .text(45px, 45px, bold);
      margin-left: 0;
    }

    &__descriptions {
      .text(28px, 33px, lighter);
      margin-left: 0;
      width: 340px;
    }

    &__button {
      .text(24px, 24px, bold);
    }
  }
}

@media (min-width: @desktop-width) {
  .route {
    height: 490px;
    position: relative;
    padding: 130px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    &__list {
      position: absolute;
      top: 135px;
      left: 135px;
      width: 560px;
    }
  }
}
