.service {
  .colors(@blue, #ffffff);
  background: url("../img/about-mobile@1x.png") no-repeat 50% 0 @blue;

  &__button {
    display: none;
  }

  &__title {
    margin: 0;
    .text(24px, 24px, bold);
    color: @orange;
  }

  &__description {
    .text(16px, 22px, lighter);
  }

  &__text {
    font-weight: bold;
  }
}
